
/*p{line-height: 0.5} stuff below is for input slider */
h3 {
  text-align: center;
}
 datalist{background-color: darkblue;}
 
/*if I can get the color to work */
       .chosen {
  color: #fff;
  background-color: #c00;
}

/* .pure-group{
align-items: center;

align-content: center;
 }*/

/*.descriptors1 {
align-content: center;
	align-items: center;
	
}*/

/*form{
	align-content: center;
	align-items: center;
}
 .feedback1{
align-content: center;
align-items: center;

 }*/
 #noiseInputId {
     height: 60px;
    
 }
 #noiseOutputId {
    border: 1px solid black; 
     height: 1em;
     width: 1em;
     padding: 5px;
 }

 .feedback1 {
    display: flex;
    flex-direction:column-reverse;
    /*border: 2px solid white; */   
    width: 521px;
    height: 100x;
  	margin: 1.5px;
    padding: 1.5px;
 }
.descriptors1{
 display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  align-items: center;
     margin: 2px;
    padding: 2px;
	
}



#noise2 {

  display: flex;
  align-items: center;
  top: 5px;
  width: 500px; /* make sure this is the same as table width for good value alignment */
  height: 5px;
  margin: 2px;
  padding: 10px;
   
   
}

/*for the p header to move right on drag n drop*/
.hiloheader {
   position: relative;
    left: 800px;
}

/*stuff below from jsfiddle table*/

#descriptors2{
 display: flex;
    
    justify-content: space-between;
  align-items: center;
     margin: 2px;
    padding: 2px;
	
}
table, td {
    border: 1px solid black;
}


table{
    table-layout: fixed;
    width: 520px;
}

td{width: 70px;}
tr {height: 50px;}
td, th {text-align: center;}
#noise3 {
display: flex;
align-items: center;
  top: 5px;
  width: 510px; /*make sure this is the same as table width for good value alignment */
  height: 5px;
 	margin: 2px;
    padding: 1px;
}
 #feedback2 {
    display: flex;
    flex-direction:column;
    /*border: 10px solid black;   */ 
    width: 521px;
    height: 100x;
  margin: 1.5px;
    padding: 1.5px;
	
}














#holder1 {
  color: white;
}



/*stuff below is for drag n drop*/
span {
 /* background-color:#1f8dd6;*/
/*background-color:lightblue;*/

}
li{
    font-size: 2em;
  margin: 10px;
  line-height: 1.2em;
text-align:center;
list-style-type: decimal;  
}


#li10{
  
 display:inline; 
  background-color:lightblue;
}
/* this is fro0m the github styles : https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/style.css;*/
body {
  margin: 2em;
}
aside {
    background: #1f8dd6;/* same color as selected state on site menu */
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 2em;
}
textarea {
  width: 100%;
}
.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}
.is-center {
  text-align: center;
}
.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65); /* this is a green */
}
.button-xlarge {
  font-size: 125%;
}

button {
    display: table;
    margin: 0 auto;
}
#name, #email {
  width: 50%;
}



/* dragula-specific example page styles */
.wrapper {
  display: table;
  height: 300px;
    max-width: 760px;
    min-height: 435px !important;
    min-width: 400px;
    margin-right:auto;
    margin-left:auto;
    margin-top:40px;
}
.cont-dragula {
  display: table-cell;
  background-color: rgba(255, 255, 255, 0.2);
  width: 50%;
}
.cont-dragula:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}
/*
 * note that styling gu-mirror directly is a bad practice because it"s too generic.
 * you"re better off giving the draggable elements a unique class and styling that directly!
 */
.cont-dragula > div,
.gu-mirror {
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease-in-out;
}
.cont-dragula > div {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.cont-dragula > li {
  margin: 5px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease-in-out;
}

.cont-dragula > li {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.cont-dragula .ex-moved {
  background-color: #e74c3c;
}
.cont-dragula.ex-over {
  background-color: rgba(255, 255, 255, 0.3);
}
#left-lovehandles > div,
#right-lovehandles > div {
  cursor: initial;
}
.handle {
  padding: 0 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.wrapper {
  background-color:  #1f8dd6;/*#3139DC;*//*#1f8dd6; *//*#58a9ce;*/
  max-width: 760px;
}


.promo {
  margin-bottom: 0;
  font-style: italic;
  padding: 10px;
  background-color: #ff4020;
  border-bottom: 5px solid #c00;
}

a {
  font-weight: bold;
}
a,
a:hover {
  color: #ecf0f1;
}


.parent {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 50px 0;
  padding: 20px;
}


.gh-fork {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}

.parent > label {
    color: #fff;
}

